.titlebar-color:not(:-moz-window-inactive){
color: AccentColorText;
background-color: AccentColor;
}
.titlebar-color{
color: AccentColorText;
background-color: color-mix(in srgb, AccentColor 80%, white);
}
.tabbrowser-tab:not([selected=true]):not([multiselected=true]) .tab-background{
background-color: color-mix(in srgb, currentColor 5%, transparent);
}